<template>
  <v-container>
    <v-row class="text-center">
      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Welcome to Vuetify
        </h1>

        <p class="subheading font-weight-regular">
          For help and collaboration with other Vuetify developers,
          <br>please join our online
        </p>
      </v-col>
    </v-row>
    <v-form v-model="valid">
      <v-row class="text-center">
          <v-col cols="6">
            <v-select
                v-model="level"
                :items="levelItems"
                label="Уровнь героя"
                outlined
            />
            <v-select
                v-model="targetLevel"
                :items="levelItems"
                label="Уровень прокачивания"
                outlined
            />
            <v-checkbox
                v-model="premium"
                label="Премиальность героя"
            />
          </v-col>
          <v-col cols="6">
          <v-text-field
              v-model="countBNB"
              label="Количество BNB"
              outlined
              type="number"
              :rules="rules"
          />
          <v-text-field
              v-model="priceCOL"
              label="Цена монеты $COL"
              outlined
              type="number"
              :rules="rules"
          />
          <v-text-field
              v-model="summaryPremiumLevel"
              label="Общий уровень премиумности"
              outlined
              type="number"
              :rules="rules"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <v-btn
              color="warning"
              :disabled="!valid"
              @click="calculate"
          >
            Расчитать
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
    <v-row v-if="hasCalculate">
      <v-col class="mb-6 sx-12">
        <v-simple-table>
          <template v-slot:default>
            <thead>
            <tr>
              <th class="text-left">
                Уровень героя
              </th>
              <th class="text-left">
                Затраты на LVLUP HERO $COL
              </th>
              <th class="text-left">
                Время на LVLUP HERO в часах
              </th>
            </tr>
            </thead>
            <tbody>
            <tr
                v-for="(item, index) in calculatedLevels"
                :key="index"
            >
              <td>{{ item.level }}</td>
              <td>{{ item.cost.toFixed(2) }}</td>
              <td>{{ item.time.toFixed(2) }}</td>
            </tr>
            <tr>
              <td></td>
              <td>
                Обшие затраты на прокачку уровня героя
                <br>
                {{ summaryCost.toFixed(2) }}
              </td>
              <td>
                Общие время на достижение требкемого уровня
                <br>
                {{ summaryTime.toFixed(2) }}
              </td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
      <v-col class="mb-6 sx-12">
        <v-list-item two-line>
          <v-list-item-content>
            <v-list-item-title>Доходность персонажа</v-list-item-title>
            <v-list-item-subtitle>{{ profitability.toFixed(2) }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item two-line>
          <v-list-item-content>
            <v-list-item-title>Затраты на бои для 2-х героев</v-list-item-title>
            <v-list-item-subtitle>{{ costFight.toFixed(2) }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item two-line>
          <v-list-item-content>
            <v-list-item-title>Общие затраты Бои +LVLUP</v-list-item-title>
            <v-list-item-subtitle>{{ allCost.toFixed(2) }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item two-line>
          <v-list-item-content>
            <v-list-item-title>Срок окупаемости</v-list-item-title>
            <v-list-item-subtitle>{{ paybackPeriod.toFixed(2) }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-col>
    </v-row>

    <v-row class="text-center">
      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Welcome to Vuetify
        </h1>

        <p class="subheading font-weight-regular">
          For help and collaboration with other Vuetify developers,
          <br>please join our online
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'Init',

    data: () => ({
      valid: false,
      level: 1,
      targetLevel: 1,
      premium: false,
      countBNB: 1,
      priceCOL: 1,
      summaryPremiumLevel: 1,
      calculatedLevels: [],
      summaryCost: 0,
      summaryTime: 0,
      hasCalculate: false,
      rules: [
        value => parseFloat(value) !== 0 || 'Поле обязательное.',
        value => (value && parseFloat(value) > 0) || 'Поле больше 0',
      ],
    }),

    computed: {
      levelItems () {
        const levels = [];
        for (let i = 1; i <= 15; i++) {
          levels.push(i);
        }

        return levels;
      },

      profitability () {
        if (this.countBNB == 0) {
          return 0;
        }
        const premiumValue = this.premium ? 2 : 1;
        return (0.03*this.countBNB/this.summaryPremiumLevel)*premiumValue*Math.pow(1.7, this.targetLevel-1);
      },

      costFight () {
        return (Math.pow(this.targetLevel, 3)-Math.pow(this.level+1, 3))*2*0.02;
      },

      allCost () {
        return this.summaryCost*this.priceCOL+this.costFight;
      },

      paybackPeriod () {
        return this.allCost/((this.profitability-0.01)*2);
      }
    },

    methods: {
      calculate () {
        this.hasCalculate = true;
        this.calculatedLevels = [];
        this.calculatedLevels = [];
        this.summaryCost = 0;
        this.summaryTime = 0;

        let index = 0;
        for (let i = this.level; i <= this.targetLevel-1; i++) {
          this.calculatedLevels.push({
            level: i,
            cost: 0,
            time: 0
          })
          index++;
        }

        index = 0;
        for (let i = this.level; i <= this.targetLevel-1; i++) {
          this.calculatedLevels[index].cost = 2*300*(Math.pow(i, 2)/(i+(i-1)))*(1/(1-i*0.07));
          this.summaryCost += this.calculatedLevels[index].cost;

          this.calculatedLevels[index].time = i*(1/(1-i*0.07))*24;
          this.summaryTime += this.calculatedLevels[index].time;
          index++;
        }
      }
    }
  }
</script>
