<template>
  <v-app>
    <v-main>
      <HelloWorld/>
    </v-main>
  </v-app>
</template>

<script>
import HelloWorld from './components/Init';

export default {
  name: 'App',

  components: {
    HelloWorld,
  },
};
</script>
